﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>kafka</title>
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="message in messages">
                {{ message.message }}
            </li>
        </ol>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" > </script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var uri = "/api/kafka";
    var app = new Vue({
        el: '#app',
        data() {
            return {
                messages: null
            }
        },
        created() {
            this.fetchKafkaMessages();
            this.timer = setInterval(this.fetchKafkaMessages, 5000);
        },
        methods: {
            fetchKafkaMessages: function() {
                axios.get(uri).then(response => {
                    this.messages = response.data;
                }).catch(e => {
                    console.log(e);
                })
            }
        }
    });
</script>
</html>